body,
html {
  height: 100vh;
  margin: 0;
  display: flex;
}
.top-navbar {
  height: 10vh;
  width: 100vw;
  position: fixed;
}
.left-navbar {
  height: calc(90% - 10%);
  width: 15vw;
  min-width: 200px;
  position: fixed;
  top: 10vh;
  overflow-y: auto;
}
.workspace {
  position: absolute;
  left: 16vw;
  top: 10vh;
  height: calc(90vh - 10vh);
}
.footer {
  height: 10vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

@media (max-width: 1400px) {
  .left-navbar {
    width: 200px;
  }
  .workspace {
    left: 220px;
    top: 10vh;
  }
}
